@import url('https://fonts.googleapis.com/css?family=Montserrat:900');

body{
  margin:0;
  padding:0;
  background-color:#292929;
  font-family: 'Montserrat', sans-serif;
}
#wrapper{
  width:100vw;
  height:100vh;
  box-sizing:border-box;
  display:flex;
  align-items:center;
  justify-content:center;
}
.my-super-cool-btn{
  position:relative;
  background: none!important;
  border: none!important;
  text-decoration:none;
  color:#fff;
  letter-spacing:1px;
  font-size:2rem;
  box-sizing:border-box;
}
.my-super-cool-btn span{
  position:relative;
  box-sizing:border-box;
  display:flex;
  align-items:center;
  justify-content:center;
  width:200px;
  height:200px;
}
.my-super-cool-btn span:before{
  content:'';
  width:100%;
  height:100%;
  display:block;
  position:absolute;
  border-radius:100%;
  border:7px solid #F3CF14;
  box-sizing:border-box;
  transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
  box-shadow: 0 30px 85px rgba(0,0,0,0.14), 0 15px 35px rgba(0,0,0,0.14);
}
.my-super-cool-btn:hover span:before{
  transform:scale(0.8);
  box-shadow: 0 20px 55px rgba(0,0,0,0.14), 0 15px 35px rgba(0,0,0,0.14);
}
.my-super-cool-btn .dots-container{
  opacity:0;
  animation: intro 1.6s;
  animation-fill-mode: forwards;
}
.my-super-cool-btn .dot{
  width:8px;
  height:8px;
  display:block;
  background-color:#F3CF14;
  border-radius:100%;
  position:absolute;
  transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
}
.my-super-cool-btn .dot:nth-child(1){
  top:50px;
  left:50px;
  transform:rotate(-140deg);
  animation: swag1-out 0.3s;
  animation-fill-mode: forwards;
  opacity:0;
}
.my-super-cool-btn .dot:nth-child(2){
  top:50px;
  right:50px;
  transform:rotate(140deg);
  animation: swag2-out 0.3s;
  animation-fill-mode: forwards;
  opacity:0;
}
.my-super-cool-btn .dot:nth-child(3){
  bottom:50px;
  left:50px;
  transform:rotate(140deg);
  animation: swag3-out 0.3s;
  animation-fill-mode: forwards;
  opacity:0;
}
.my-super-cool-btn .dot:nth-child(4){
  bottom:50px;
  right:50px;
  transform:rotate(-140deg);
  animation: swag4-out 0.3s;
  animation-fill-mode: forwards;
  opacity:0;
}
.my-super-cool-btn:hover .dot:nth-child(1){
  animation: swag1 0.3s;
  animation-fill-mode: forwards;
}
.my-super-cool-btn:hover .dot:nth-child(2){
  animation: swag2 0.3s;
  animation-fill-mode: forwards;
}
.my-super-cool-btn:hover .dot:nth-child(3){
  animation: swag3 0.3s;
  animation-fill-mode: forwards;
}
.my-super-cool-btn:hover .dot:nth-child(4){
  animation: swag4 0.3s;
  animation-fill-mode: forwards;
}
@keyframes intro {
   0% {
     opacity:0;
  }
  100% {
     opacity:1;
  }
}
@keyframes swag1 {
   0% {
     top:50px;
     left:50px;
     width:8px;
  }
  50% {
    width:30px;
    opacity:1;
  }
  100% {
     top:20px;
     left:20px;
     width:8px;
     opacity:1;
  }
}
@keyframes swag1-out {
   0% {
     top:20px;
     left:20px;
     width:8px;
  }
  50% {
     width:30px;
    opacity:1;
  }
  100% {
     top:50px;
     left:50px;
     width:8px;
    opacity:0;
  }
}
@keyframes swag2 {
   0% {
     top:50px;
     right:50px;
     width:8px;
  }
  50% {
    width:30px;
    opacity:1;
  }
  100% {
     top:20px;
     right:20px;
     width:8px;
     opacity:1;
  }
}
@keyframes swag2-out {
   0% {
     top:20px;
     right:20px;
     width:8px;
  }
  50% {
     width:30px;
    opacity:1;
  }
  100% {
     top:50px;
     right:50px;
     width:8px;
    opacity:0;
  }
}
@keyframes swag3 {
   0% {
     bottom:50px;
     left:50px;
     width:8px;
  }
  50% {
    width:30px;
    opacity:1;
  }
  100% {
     bottom:20px;
     left:20px;
     width:8px;
     opacity:1;
  }
}
@keyframes swag3-out {
   0% {
     bottom:20px;
     left:20px;
     width:8px;
  }
  50% {
     width:30px;
    opacity:1;
  }
  100% {
     bottom:50px;
     left:50px;
     width:8px;
    opacity:0;
  }
}
@keyframes swag4 {
   0% {
     bottom:50px;
     right:50px;
     width:8px;
  }
  50% {
    width:30px;
    opacity:1;
  }
  100% {
     bottom:20px;
     right:20px;
     width:8px;
     opacity:1;
  }
}
@keyframes swag4-out {
   0% {
     bottom:20px;
     right:20px;
     width:8px;
  }
  50% {
     width:30px;
    opacity:1;
  }
  100% {
     bottom:50px;
     right:50px;
     width:8px;
    opacity:0;
  }
}


body {
    display: flex;
    flex-direction: column; /* creates rows out of the elements main and footer */
    height: 100vh; 
    margin:0;
  }

  .mod {
    box-sizing: border-box;
    /* background-color: #848479; */
    /* -webkit-box-shadow: -5px -12px 0 #6a6b62 inset; */
    box-shadow: -5px -12px 0 #535aa5db inset;
    border-radius: 25px;
  }

.jumbotron {
    padding: 0;
    height: 400px;background-color:transparent !important;
}

.module-container {
    margin-top: 32px;
}

img[src=""], .not-start {
    display: none;
}

.row {
    margin-top: 10px;
}

.nav-link {
    color: #0e9fbc!important;
    font-weight: bold;
}

.boxes {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.8em;
    color: #333;
    text-align: center;
    user-select: none;
    box-sizing: border-box;
    background: #ffd;
    padding: 2px;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    justify-content: center;
}

.boxes .box {
    margin: 0 0 1px 1px;
    background: #666 !important;
}

.box {
    color: white;
    width: max-content;
    height: 40px;
    padding: 15px;
    line-height: 0.5rem;
    min-width: 70px;
    border-radius: 5px;
    text-align: center;
    cursor: grab;
    /*font-size: 1.5rem;*/
    font-weight: 200;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Georgia", serif;
    text-align: center;
    user-select: none;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 0;
    border: 2px solid #333;
    border-radius: 10px;
    color: #fff;
    font-size: 2em;
    text-shadow: 0 0 3px #000;
}

.box * {
    cursor: grab;
}


/*.boxes, .blanks, #nextStageButton {*/
/*     border: 5px solid #de4077; */
/*}*/

.blank {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #333;
    user-select: none;
    box-sizing: border-box;
    margin: 5px 10px 50px 10px;
    background: #ddf;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 0.3em rgba(0, 0, 0, .8);
    text-shadow: 0 0 3px rgb(149, 250, 203);
}

.blank-input {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #333;
    user-select: none;
    box-sizing: border-box;
    margin: 5px 5px 5px 5px;
    background: rgb(239, 239, 247);
    padding: 10px;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 0.3em rgba(0, 0, 0, .8);
    text-shadow: 0 0 3px #000;
    text-align: center;
}

.blanks {
    position: relative;
    text-align: center;
    min-height: 50px;
    min-width: 70px;
    background-color: white;
    width: max-content;
    height: max-content;
    border-radius: 10px;
    transition: 0.2s all ease-in;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-style: dashed;
    height: 62px;
}

.blanks-border {
    border: 2px solid black;
    animation: expand 1s infinite;
}

.wrongAnswer {
    font-size: 1.5rem;
    font-weight: 200;
    animation: wobbleText 0.5s infinite;
}

@keyframes wobbleText {
    0% {
        transform: translateX(0%);
    }
    15% {
        transform: translateX(-1%) rotate(-5deg);
    }
    30% {
        transform: translateX(1%) rotate(3deg);
    }
    45% {
        transform: translateX(-1%) rotate(-3deg);
        /* color : lightcoral; */
    }
    60% {
        transform: translateX(1%) rotate(2deg);
    }
    75% {
        transform: translateX(-1%) rotate(-1deg);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes expand {
    0%, 20%, 100% {
        border-color: burlywood;
    }
    40%, 50% {
        border-color: aqua;
    }
    60%, 80% {
        border-color: brown;
    }
}

.next-stage-btn {
    margin-top: 10px;
    transition: all 0.9s ease-in;
    border: 2px solid #333;
    border-radius: 10px;
    font-size: 1.5em;
}

/*.next-stage-btn-wobbel{*/
/*    transition: all 0.9s ease-in;*/
/*    animation: wobble 1s;*/
/*}*/

@keyframes wobble {
    0% {
        transform: translateX(0%);
    }
    15% {
        transform: translateX(-25%) rotate(-5deg);
    }
    30% {
        transform: translateX(20%) rotate(3deg);
    }
    45% {
        transform: translateX(-15%) rotate(-3deg);
    }
    60% {
        transform: translateX(10%) rotate(2deg);
    }
    75% {
        transform: translateX(-5%) rotate(-1deg);
    }
    100% {
        transform: translateX(0%);
    }
}

#resetButton {
    margin-left: 10px;
}

#question_image {
    /*width: 300px;*/
    height: 150px;
    border: 1px solid black;
}

.incorrect_answer {
    color: red;
    animation: wobbleText 1s infinite;
}

#draggable {
    width: 150px;
    height: 150px;
    padding: 0.5em;
}









